/*
 * #dd3636
 * #218484
 * #9ace33
 */
body {
  background: #9ace33;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  background: #dd3636;
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 36px;
  padding: 20px;
}
.container {
  margin: 0 auto;
  width: 960px;
}
#nav li {
  float: left;
}
#nav li a {
  display: block;
  line-height: 36px;
  min-width: 80px;
  padding: 20px;
  text-align: center;
}
#hamilton-canvas {
  background: #fff;
}
