/*
 * #dd3636
 * #218484
 * #9ace33
 */
body {
  background: #add855;
  font-family: Helvetica, Arial, sans-serif;
}
h1 {
  background: #dd3636;
  border: 1px solid transparent;
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 36px;
  padding: 20px 0;
  text-align: center;
  width: 199px;
}
h1 a {
  color: white;
  text-decoration: none;
}
h1 a:hover {
  text-decoration: underline;
}
.container {
  margin: 0 auto;
  position: relative;
  width: 960px;
}
#nav {
  clear: left;
  float: right;
  width: 49px;
}
#nav li {
  margin-bottom: 1px;
}
#nav li a {
  background: #349f9f;
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  height: 33px;
  padding-top: 16px;
  text-align: center;
  text-decoration: none;
  width: 55px;
}
#nav img {
  position: relative;
  top: -7px;
}
#nav li span {
  background: #9ace33;
  display: block;
  padding: 19px 0;

  width: 100px;
}
#hamilton-canvas {
  background: #fff;
}
#capture-canvas {
  background: #fff;
	left: 0;
  top: 0;
  position:absolute;
  visibility: hidden;
}
#spotlight {
  background: rgba(0,0,0,0.9);
  /*display: table;*/
  height: 100%;
  left: 0;
  position: absolute;
  /*table-layout: fixed;*/
  top: 0;
  width: 100%;
  z-index: 100;
}
#wrapper {
  /*display: table-cell;*/
  padding-top: 100px;
  text-align: center;
  vertical-align: middle;
  width: 100%;
}
#stage-dot {
  background: #218484;
  box-shadow: 0 0 20px #000;
  display: inline-block;
  position: relative;
  text-align: left;
}

#stage-share {
  background: #218484;
  box-shadow: 0 0 20px #000;
  display: inline-block;
  position: relative;
  text-align: left;
  white-space: nowrap;
}

#permalink {
	background: #fff;
  font-size: 24px;
	font-weight: 200;
  display: block;
  margin-bottom: 10px;
  padding: 10px 15px 10px 20px;
  width: 200;
  white-space: normal;
}

#stage-img {
  background: #218484;
  box-shadow: 0 0 20px #000;
  display: inline-block;
  position: relative;
  text-align: center;
}

#help-dialog {
  background: #218484;
  box-shadow: 0 0 20px #000;
  display: inline-block;
  position: relative;
  text-align: center;
}

#help-dialog h4 {
  color: #000;
  font-size: 16px;
  padding: 10px 20px 10px;
	text-align:center;
}

#help-div0 {
  background: #fff;
  display: block;
  float: left;
  margin: 10px;
}

#help-div1 {
  background: #fff;
  display: block;
  color: black;
  float: left;
  margin: 10px;
}

#help-shortcuts {
  color: white;
  clear:both;
  margin: 10px;
  width: 560px;
	padding: 10px 20px 10px;
}

#canvas-img {
  background: #fff;
  display: inline-block;
}
#spotlight h2 {
  color: #fff;
  font-size: 24px;
  padding: 15px 20px 10px;
  text-align: left;
}
#spotlight h3 {
  color: #fff;
  font-size: 14px;
  padding: 10px 20px 10px;
	text-align:center;
}
#dot-code {
  border: none;
  display: block;
  font-family: Inconsolata, Courier New, monospace;
  font-size: 18px;
  height: 200px;
  margin: 0;
  padding: 10px;
  resize: none;
  width: 580px;
}
#dot-go {
  background: #9ace33;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 14px;
  margin: 0;
  padding: 10px 20px;
}
#reset-layout {
  background: #dd3636;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 14px;
  margin: 0;
  padding: 10px 20px;
}

#vtx-name-change {
  background: #fff;
  border: none;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  display: none;
  position: absolute;
  text-align: center;
  width: 30px;
}

#copy-button {
  background: #349f9f;
  margin-left: 15px;
  margin-top: -3px;
  height: 30px;
  float: right;
}

.btn a {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  height: 30px;
  margin-top: -3px;
  padding-top: 6px;
  text-align: center;
  text-decoration: none;
  width: 30px;
}
